@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --fs-lg: 20px;
  --fs-normal: 16px;
  --fs-sm: 14px;
  --fs-exsm: 12;
  --fs-h1: 55px;
  --fs-h4: 24px;
  --fs-h5: 21px;
  --fs-h6: 18px;
  --lh-lg: 32px;
  --indigo-400: #6b67aa;
  --indigo-900: #211c70;
  --white: #ffffff;
  --grey-50: #f2f2f2;
  --grey-400: #c4c4c4;
  --cyan-300: #6bd4ff;
  --deep-purple-200: #9d70ff;
  --deep-purple-300: #8574eb;
  --gradient-cyan-deep-purple: linear-gradient(
    39deg,
    var(--cyan-300) 0%,
    var(--deep-purple-200) 100%
  );
  --container-width: 1110px;
  --container-space: 25px;
  --timing-function: cubic-bezier(0.28, 0.74, 0.43, 1.21);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}

.container {
  max-width: calc(var(--container-width) + var(--container-space) * 2);
  width: 100%;
  padding: 0 var(--container-space);
  margin: 0 auto;
}

/* flex utiliy */

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.grow-1 {
  flex-grow: 1;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

.margin-auto {
  margin: 0 auto;
}

/* end flex utiliy */

/* backgrounds */
.bg-indigo-400 {
  background-color: var(--indigo-400);
}

.bg-gradient-cyan-deep-purple {
  background: var(--gradient-cyan-deep-purple);
}

.bg-image-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* text styles */
.h1 {
  font-size: var(--fs-h1);
}

.h4 {
  font-size: var(--fs-h4);
}

.h5 {
  font-size: var(--fs-h5);
}

.h6 {
  font-size: var(--fs-h6);
}
.txt {
  font-size: var(--fs-normal);
  line-height: normal;
}

.txt-sm {
  font-size: var(--fs-sm);
}

.txt-lg {
  font-size: var(--fs-lg);
  line-height: 30px;
}
.h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-lg);
}

.txt-400 {
  font-weight: 400;
}

.txt-500 {
  font-weight: 500;
}

.txt-600 {
  font-weight: 600;
}

.txt-700 {
  font-weight: 700;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-white {
  color: var(--grey-50);
}

.txt-indigo-900 {
  color: var(--indigo-900);
}
.txt-indigo-400 {
  color: var(--indigo-400);
}

.txt-cyan-hover:hover {
  transition: color 0.3s ease;
  color: var(--cyan-300);
}

.page-full {
  min-height: 100vh;
}

/* borders */

.br-common {
  border-radius: 8px;
}

/* buttons */

.btn-border-indigo {
  background-color: var(--white);
  border: 1px solid var(--indigo-400);
  padding: 11px 55px;
  border-radius: 40px;
  color: var(--indigo-400);
  font-size: var(--fs-normal);
  cursor: pointer;
  transition: all 0.3s var(--timing-function);
}

.btn-gradient {
  padding: 11px 60px;
  background: var(--gradient-cyan-deep-purple);
  color: var(--grey-50);
  border-radius: 22px;
  border: 1px solid var(--grey-50);
}

.btn-border-white {
  color: var(--grey-50);
  border: 2px solid var(--grey-50);

  background-color: transparent;
  border-radius: 30px;
}

.btn-border-white--md {
  padding: 9px 52px;
}

.btn-border-white--sm {
  padding: 7px 48px;
}

.btn-wrap {
  width: 170px;
}

.btn-border:hover {
  background-color: var(--indigo-400);
  color: var(--grey-50);
}

/* input styles */

.input {
  border-radius: 30px;
  border: none;
  padding: 7px 20px;
}

.input:focus-visible {
  outline: none;
}

input::placeholder {
  color: var(--grey-400);
}

/* end styles for buttons */

/* header styles */

.header__nav-top {
  padding: 15px 0 11px;
}

.header__nav-top-links {
  gap: 43px;
}

.header__middle {
  padding: 18px 0 23px;
  border-bottom: 1px solid var(--indigo-400);
}

.logo-wrap {
  gap: 18px;
}

.contact-wrap {
  gap: 30px;
}

.logo {
  width: 79px;
  height: 79px;
  border-radius: 50%;
}

/* nav bottom */

.header__nav-bottom {
  padding: 27px 0 51px;
}

.header__nav-bottom-wrap {
  max-width: 602px;
}

/* end header styles */

.main-section {
  background-image: url("../assets/images/main-bgc-laptop-women.png");
  padding: 20px 0;
}

.main-section__content {
  max-width: 395px;
}

.main-section__h1 {
  padding-bottom: 44px;
}

.main-section__txt {
  padding-bottom: 40px;
}

/* section styles of more figures */
.section-figures {
  padding: 51px 0 119px;
}

.section-figures__h4 {
  padding-bottom: 37px;
}

.section-figures__card-space {
  padding-bottom: 100px;
}

/* card styles */
.card-price-wrap {
  gap: 30px;
}
.card-gradient-price {
  background: var(--gradient-cyan-deep-purple);
  border-radius: 8px;
  padding: 11px 30px 25px;
}

.card-gradient-price__txt {
  max-width: 195px;
}

.card-interact {
  padding: 27px 42px 17px 40px;
  border-radius: 8px;
}

.card-interact-content {
  max-width: 225px;
}

.table {
  width: 100%;
}

.table tr:not(:last-child) {
  border-bottom: 1px solid var(--grey-50);
}

.table-img {
  max-width: 114px;
  width: 100%;
  object-fit: cover;
}

.table td {
  text-align: center;
  height: 128px;
  vertical-align: middle;
}

.table td:not(:last-child) {
  border-right: 1px solid var(--grey-400);
}
